<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shy.mapper.UserMapper">
    <insert id="insertAccount" parameterType="com.shy.beans.Account" useGeneratedKeys="true">
        insert into account(Ausername,Apassword,Alogintime)
        values (#{Ausername},#{Apassword},#{Alogintime})
    </insert>
</mapper>